.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
  width: 50%;
  padding: 20px 10px;
  border: 2px solid black;
}

#content{
  display: flex;
  flex-direction: row;
}
#next-matches{
  width: 25%;
  border: 2px solid black;
}

#next-matches ul{
  max-height: 300px;
  overflow-y: scroll;
 }

#next-matches ul li{
 list-style: none;
}

#event-logs{
  border: 2px solid black;
}

#my-bets{
  width: 25%;
  border: 2px solid black;
}

#accounts-sumup{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 10px;
  border: 2px double white;
  padding: 10px;
}
#accounts-sumup div{
  width: 50%;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
}

#accounts-sumup p{
  margin:auto 0px auto 30px;
  vertical-align: middle;
}

#accounts-sumup div h2{
  color:white;
  width: 100%;
  text-align: center;
}
#match-fields {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
#creationMatch label{
  font-weight: bolder;
  align-self: center;
  width: 50%;
}

#creationMatch{
  margin-top: 10px;
  border-top: 3px solid black;
}

#createMatch{
  margin-top: 10px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
